---
---

<!-- ===================
	///// Begin header /////
	======================== -->
<header id="tt-header" class="tt-header-alter tt-header-scroll tt-header-filled">
  <div class="tt-header-inner tt-noise">
    <div class="tt-header-col tt-header-col-left">
      <!-- Begin logo -->
      <div class="tt-logo">
        <a href="/" class="tt-magnetic-item">
          <img src="/assets/img/logo-white.png" class="tt-logo-light" alt="Logo" />
          <img src="/assets/img/logo-black.png" class="tt-logo-dark" alt="Logo" />
        </a>
      </div>
      <!-- End logo -->
    </div>
    <!-- /.tt-header-col -->

    <div class="tt-header-col tt-header-col-center">
      <!-- Begin main menu (classic) -->
      <nav class="tt-main-menu tt-m-menu-center">
        <div class="tt-main-menu-holder">
          <div class="tt-main-menu-inner">
            <div class="tt-main-menu-content">
              <ul class="tt-main-menu-list">
                <li><a href="/">Home</a></li>
                <li><a href="/about-me/">About</a></li>
                <li><a href="/#competition">Competition</a></li>
                <li><a href="/#gallery">Gallery</a></li>
                <li><a href="/contact/">Contact</a></li>
              </ul>
            </div>
            <!-- /.tt-main-menu-content -->
          </div>
          <!-- /.tt-main-menu-inner -->
        </div>
        <!-- /.tt-main-menu-holder -->
      </nav>
      <!-- End main menu -->
    </div>
    <!-- /.tt-header-col -->

    <div class="tt-header-col tt-header-col-right">
      <!-- Begin mobile menu toggle button -->
      <div id="tt-m-menu-toggle-btn-wrap">
        <div class="tt-m-menu-toggle-btn-text">
          <span class="tt-m-menu-text-menu">Menu</span>
          <span class="tt-m-menu-text-close">Close</span>
        </div>
        <div class="tt-m-menu-toggle-btn-holder">
          <a href="#" class="tt-m-menu-toggle-btn"><span></span></a>
        </div>
      </div>
      <!-- End mobile menu toggle button -->

      <!-- Begin header button (hidden on small screens!) -->
      <a href="/contact/" class="tt-btn tt-btn-secondary hide-from-xlg tt-magnetic-item">
        <span data-hover="Contact">Contact</span>
      </a>
      <!-- End header button -->

      <!-- Begin style switch button -->
      <div class="tt-style-switch">
        <div class="tt-style-switch-inner tt-magnetic-item">
          <div class="tt-stsw-light">
            <i class="fas fa-sun"></i>
          </div>
          <div class="tt-stsw-dark">
            <i class="fas fa-moon"></i>
          </div>
        </div>
      </div>
      <!-- End style switch button -->
    </div>
    <!-- /.header-col -->
  </div>
  <!-- /.header-inner -->
</header>
<!-- End header -->
